{% load static %}
{% url 'sales:home' as path_to_home%}
{% url 'sales:list' as path_to_sales%}
{% url 'reports:from-file' as path_to_from_file%}
{% url 'reports:main' as path_to_reports%}
{% url 'profiles:my' as path_to_profile%}
{% url 'logout' as path_to_logout%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{path_to_home}}"><img src = "{% static 'logo.png' %}" class = "logo-sm"></a>
      {% if request.user.is_authenticated %}
      <div class="nav-item dropdown order-lg-1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src = "{{request.user.profile.avatar.url}}" class = "avatar-sm">
          &nbsp;{{request.user}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item  {% if request.path  == path_to_profile%}active{% endif %}" href="{{path_to_profile}}">Profile</a></li>
              <li><a class="dropdown-item" href="{{path_to_logout}}">Logout</a></li>
          </ul>
      </div>
    {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navnarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navnarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path  == path_to_home%}active{% endif %}" href="{{path_to_home}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path  == path_to_sales%}active{% endif %}" href="{{path_to_sales}}">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path  == path_to_from_file%}active{% endif %}" href="{{path_to_from_file}}">Add from file</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path  == path_to_reports%}active{% endif %}" href="{{path_to_reports}}">Reports</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>